html {
     font-family: "Friz Quadrata Italic";
	 background-image: url('fjan.jpg');
}
#kontener {
    width:1300px;
    margin:auto;
}
#baner{
background-color:black;
color:white;
text-align:center;
height:100px;
width:100%;
}
#lewy{
	text-align:center;
	background-color:#087008;
	height:700px;
	width:30%;
	float:left;
	color:white;
}
#prawy{
	background-color:#454545;
	width:30%;
	height:700px;
	float:right;
	color:white;
}
#środek{
	background-color:white;
	width:40%;
	height:700px;
	float:left;
	
}
	

#stopka{
	background-color:black;
	color:white;
}
#cena { width: 75%;
        margin:auto;
}
#wycena{
     margin-top:30px;
     margin-right:50px;
     text-align:right;
}
#komp{
	height:250px;
	width:290px;
	padding-bottom:40px;
	padding-left:20px;
	padding-top:40px;
	
	margin-left: 100px;
	
	margin-top: 10px;
}
@font-face { font-family: Friz Quadrata Italic; src: url('Friz Quadrata Italic.ttf'); }